$red: #D73F4C;
$light-red: #F9E0E5;
$dark-red: #943037;

$yellow: #FEE54A;
$light-yellow: #FDF9F1;
$dark-yellow: #D8A352;

$green: #419F5B;
$light-green: #EAF3F1;
$dark-green: #3F7C52;

$blue: #3A4A8B;
$light-blue: #E4E0F3;
$dark-blue: #2D2E4B;


$grey: #BDBDBD;
$light-grey: #E3E3E3;