@import "./../assets/colors.scss";

.player-area {
  display: grid;
  grid-template-areas: "stats board controls";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-column-gap: 18px;

  &.player-0 {
    grid-area: player_0;
    rotate: 180deg;
  }
  &.player-1 {
    grid-area: player_1;
  }
  &.player-2 {
    grid-area: player_2;
    rotate: 90deg;
  }
  &.player-3 {
    grid-area: player_3;
    rotate: 270deg;
  }

  .stats {
    grid-area: "stats";
  }

  .stats {
    grid-area: "stats";
    border-right: 4px solid $grey;
    margin: -6px 0;
    padding: 6px 18px 6px 0;
  }

  .controls {
    grid-area: "controls";
  }
}
