$red: #d73f4c;
$light-red: #f9e0e5;
$dark-red: #943037;

$yellow: #fee54a;
$light-yellow: #fdf9f1;
$dark-yellow: #d8a352;

$green: #419f5b;
$light-green: #eaf3f1;
$dark-green: #3f7c52;

$blue: #3a4a8b;
$light-blue: #e4e0f3;
$dark-blue: #2d2e4b;

$grey: #bdbdbd;
$light-grey: #e3e3e3;
$dark-grey: #434343;
