@import './assets/colors.scss';

.content {
  height: 100vh;
  height: -webkit-fill-available;
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    '. player_0 .'
    'player_2 dices player_3'
    '. player_1 .';
}

.dices-area {
  grid-area: dices;
  justify-self: center;
  align-self: center;
}
