@import './assets/colors.scss';

@font-face {
  font-family: NotoEmoji;
  src: url(assets/NotoEmoji-VariableFont_wght.ttf) format('truetype');
  font-weight: 300 700;
  font-style: normal;
}

body,
html {
  position: fixed;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:not(input) {
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
